{%extends 'index.html'%}
{%load static%}
{%block body%}
<!-- Start Slider -->
    <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
            <li class="text-center">
                <img src="{%static 'images/banner-01.jpg'%}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br>Zhejiang Willings Foods Trading Company LTD</strong></h1>
                            <p class="m-b-40">We supplies the best of food products<br>Browse through our page and place your order now</p>
                            {%if user.is_authenticated%}
                            <p><a class="btn hvr-hover" href="{%url 'create_order'%}">Shop Now</a></p>
                            {%else%}
                            <p><a class="btn hvr-hover" href="{%url 'Login'%}">Login to order</a></p>
                            {%endif%}
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{%static 'images/banner-02.jpg'%}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br>Zhejiang Willings Foods Trading Company LTD</strong></h1>
                            <p class="m-b-40">We supplies the best of food products<br>Browse through our page and place your order now</p>
                            {%if user.is_authenticated%}
                            <p><a class="btn hvr-hover" href="{%url 'create_order'%}">Shop Now</a></p>
                            {%else%}
                            <p><a class="btn hvr-hover" href="{%url 'Login'%}">Login to order</a></p>
                            {%endif%}
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{%static 'images/banner-03.jpg'%}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> Zhejiang Willings Foods Trading Company LTD</strong></h1>
                            <p class="m-b-40">We supplies the best of food products<br>Browse through our page and place your order now</p>
                            {%if user.is_authenticated%}
                            <p><a class="btn hvr-hover" href="{%url 'create_order'%}">Shop Now</a></p>
                            {%else%}
                            <p><a class="btn hvr-hover" href="{%url 'Login'%}">Login to order</a></p>
                            {%endif%}
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="slides-navigation">
            <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- End Slider -->

    <!-- Start Categories  -->
    <div class="categories-shop">
        <div class="container">
            <div class="row">
                {%for product in random_products%}
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        {%if product.image%}
                        <img class="img-fluid" src="{{product.image.url}}" alt="" />
                        {%endif%}
                        <a class="btn hvr-hover" href="{%url 'product_detail' product_slug=product.slug%}">{{product.name}}</a>
                    </div>
                </div>
                {%endfor%}

            </div>
        </div>
    </div>
    <!-- End Categories -->

	<div class="box-add-products">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="offer-box-products">
						<img class="img-fluid" src="{%static 'images/add-img-01.jpg'%}" alt="" />
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="offer-box-products">
						<img class="img-fluid" src="{%static 'images/add-img-02.jpg'%}" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>

    <!-- Start Products  -->
    <div class="products-box">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="special-menu text-center">
                        <div class="button-group filter-button-group">
                            <h1>Latest Products</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row special-list">
                {%for product in products%}
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">{{product.category}}</p>
                            </div>
                            {%if product.image%}
                            <img src="{{product.image.url}}" class="img-fluid" alt="Image">
                            {%endif%}
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="{%url 'product_detail' product_slug=product.slug%}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="{%url 'product_detail' product_slug=product.slug%}" data-toggle="tooltip" data-placement="right" title="Details"><i class="fas fa-sync-alt"></i></a></li>
                                    <li><a href="{%url 'product_detail' product_slug=product.slug%}" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>
                                {%if user.is_authenticated%}
                                <a class="cart" href="{%url 'create_order'%}">Order</a>
                                {%endif%}
                            </div>
                        </div>
                        <div class="why-text">
                            <h4>{{product.name}}</h4>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
    <!-- End Products  -->

    <!-- Start Blog  -->
    <div class="latest-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Vegetables</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                {%for product in Vegetables%}
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            {%if product.image%}
                            <img src="{{product.image.url}}" class="img-fluid" alt="Image">
                            {%endif%}
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3>{{product.name}}</h3>
                            </div>
                            <ul class="option-blog">
                                <li><a href="{%url 'product_detail' product_slug=product.slug%}"><i class="far fa-heart"></i></a></li>
                                <li><a href="{%url 'product_detail' product_slug=product.slug%}"><i class="fas fa-eye"></i></a></li>
                                <li><a href="{%url 'product_detail' product_slug=product.slug%}"><i class="far fa-comments"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
    <div class="latest-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Oil</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                {%for product in Oil%}
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            {%if product.image%}
                            <img src="{{product.image.url}}" class="img-fluid" alt="Image">
                            {%endif%}
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3>{{product.name}}</h3>
                            </div>
                            <ul class="option-blog">
                                <li><a href="{%url 'product_detail' product_slug=product.slug%}"><i class="far fa-heart"></i></a></li>
                                <li><a href="{%url 'product_detail' product_slug=product.slug%}"><i class="fas fa-eye"></i></a></li>
                                <li><a href="{%url 'product_detail' product_slug=product.slug%}"><i class="far fa-comments"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
    <div class="latest-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Fruits</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                {%for product in Fruits%}
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            {%if product.image%}
                            <img src="{{product.image.url}}" class="img-fluid" alt="Image">
                            {%endif%}
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3>{{product.name}}</h3>
                            </div>
                            <ul class="option-blog">
                                <li><a href="{%url 'product_detail' product_slug=product.slug%}"><i class="far fa-heart"></i></a></li>
                                <li><a href="{%url 'product_detail' product_slug=product.slug%}"><i class="fas fa-eye"></i></a></li>
                                <li><a href="{%url 'product_detail' product_slug=product.slug%}"><i class="far fa-comments"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
    <div class="latest-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Grains</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                {%for product in Grains%}
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            {%if product.image%}
                            <img src="{{product.image.url}}" class="img-fluid" alt="Image">
                            {%endif%}
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3>{{product.name}}</h3>
                            </div>
                            <ul class="option-blog">
                                <li><a href="{%url 'product_detail' product_slug=product.slug%}"><i class="far fa-heart"></i></a></li>
                                <li><a href="{%url 'product_detail' product_slug=product.slug%}"><i class="fas fa-eye"></i></a></li>
                                <li><a href="{%url 'product_detail' product_slug=product.slug%}"><i class="far fa-comments"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
    <div class="latest-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Dairy</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                {%for product in Dairy%}
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            {%if product.image%}
                            <img src="{{product.image.url}}" class="img-fluid" alt="Image">
                            {%endif%}
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3>{{product.name}}</h3>
                            </div>
                            <ul class="option-blog">
                                <li><a href="{%url 'product_detail' product_slug=product.slug%}"><i class="far fa-heart"></i></a></li>
                                <li><a href="{%url 'product_detail' product_slug=product.slug%}"><i class="fas fa-eye"></i></a></li>
                                <li><a href="{%url 'product_detail' product_slug=product.slug%}"><i class="far fa-comments"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
    <div class="latest-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Protein</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                {%for product in Protein%}
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            {%if product.image%}
                            <img src="{{product.image.url}}" class="img-fluid" alt="Image">
                            {%endif%}
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3>{{product.name}}</h3>
                            </div>
                            <ul class="option-blog">
                                <li><a href="{%url 'product_detail' product_slug=product.slug%}"><i class="far fa-heart"></i></a></li>
                                <li><a href="{%url 'product_detail' product_slug=product.slug%}"><i class="fas fa-eye"></i></a></li>
                                <li><a href="{%url 'product_detail' product_slug=product.slug%}"><i class="far fa-comments"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>


    <!-- End Blog  -->


    <!-- Start Instagram Feed  -->
    <div class="instagram-box">
        <div class="main-instagram owl-carousel owl-theme">
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{%static 'images/instagram-img-01.jpg'%}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{%static 'images/instagram-img-02.jpg'%}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{%static 'images/instagram-img-03.jpg'%}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{%static 'images/instagram-img-04.jpg'%}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{%static 'images/instagram-img-05.jpg'%}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{%static 'images/instagram-img-06.jpg'%}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{%static 'images/instagram-img-07.jpg'%}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{%static 'images/instagram-img-08.jpg'%}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{%static 'images/instagram-img-09.jpg'%}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{%static 'images/instagram-img-05.jpg'%}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Instagram Feed  -->

{%endblock%}